# Python
__pycache__/
*.pyc
*.pyo

# Mac
.DS_Store

# Virtual environments
venv/
.env

# Data files
data/raw/
data/processed/

# Airflow local files
airflow/

# Reports (optional)
data/reports/*.json

# Streamlit cache
.streamlit/

# Logs
logs/
*.log
